.topic{
    padding-top: 5px;
    border-bottom: 2px solid #2c637a;
}
.forumTopic{

    font-size: 20px;
}
#topicsWrapper{
    padding: 10px;

}
.topicDescription{
    font-size: 15px;
}

.bannerImage{
    width: 100%;
    opacity: .95;
  
}
#introCard{
    text-align: center;
    background: #F9F9F9;
    width: 350px;
    height: 125px;
    position: absolute;
    color:  #67888d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    opacity: .85;
    padding:10px 0px 10px 0px;
}