
h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3{
  font-size: 25px;
}

h4{
  font-size: 20px;
}

h5{
  font-size: 15px;
}

h6{
  font-size: 10px;
}
h1,h2,h3,h4,h5,h6{
  color:#10455b;

}
.formWrapper{
    border: 2px solid #2aa1af;
    border-radius: 2px;
    padding: 20px;
    width: 360px;
    text-align: center;
    margin: 25px auto;
    font-family: "Times New Roman", Times, serif;
    color: #545558;
    font-size: 16px;

  }
  .form {
    margin: 20px;
  
  }
  
  .formInput {
    width: 100%;
    Margin: 5px 0px;
  }
  