html{
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #545558;
  background-color: #10455b;
  height: 100%;
}

#root{
  width: 100%;
  min-height: 100%;
  max-width: 960px;
  margin: auto;
  clear: both;
  /* padding: 10px 0px; */
  background-color: white;
  overflow:auto;
  flex: 1
}

h1,h2,h3{
  color:#10455b;
  /* padding: 10px 0px 10px 0px; */
}

a {
  color: #2aa1af;
}

.bannerDiv{
  margin:0px;
  left:0px;
  right:0px;
  bottom:0px;
  border:0px;
  padding: 0px;
  position: relative;
}
#intro{
  margin:0px;
  left:0px;
  right:0px;
  bottom:0px;
  border:0px;
  padding: 0px;
}
.bannerImage{
  width: 100%;
  opacity: .95;
}
#introCard{
  text-align: center;
  background: #F9F9F9;
  width: 350px;
  height: 125px;
  position: absolute;
  color:  #67888d;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  opacity: .90;
}

#introParagraph{
  padding: 25px;
}